<div>
  <div class="column-12">
    <%= render :partial => 'shared/header' %>
  </div>
  <div class="column-10">
    <div class='questionaire-intro-container'>
      
    </div>
  </div>
  <div class="column-2">
    <%= render :partial => 'shared/aside' %>
  </div>
  <div class="column-12">
    <div class="questionaire-question-footer">
      <div></div>
      <div class="btn-group float-right">
          <button class="btn btn-default"><</button>
          <button class="btn btn-default">></button>
      </div>
    </div>
  </div>
</div>

